<div class="row">
  <div class="col-md-12">
    <h1>Flats in Zurich</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="map" map="tpreusse.hng3chlk" map-options="{{ mapState }}"></div>
    <pagination total-items="filteredObjects.length" max-size="10" rotate="false" page="currentPage" items-per-page="numPerPage"></pagination>
    <div class="row objects">
      <flat ng-repeat="object in pagedFilteredObjects" class="object thumbnail"></flat>
    </div>
    <pagination total-items="filteredObjects.length" max-size="10" rotate="false" page="currentPage" items-per-page="numPerPage"></pagination>

    <div ng-if="goneObjects">
      <h1>Gone</h1>
      <p>Those are object you've selected but are no longer available</p>
      <div class="row objects">
        <flat ng-repeat="object in goneObjects | limitTo: 20" class="object thumbnail"></flat>
      </div>
    </div>
    <br><br>
  </div>
  <div class="col-md-3 sidebar">
    <h2 ng-show="filteredObjects !== undefined">{{ filteredObjects.length }} Objects<h2>

    <h3>Filters</h2>

    <h4>Selection</h4>
    <label ng-repeat="item in selectionFilter.list" class="filter-checkbox">
      <input type="checkbox" ng-model="selectionFilter.check[item.name]">
      {{ selectionFilterNames[item.name] }} ({{ item.count }})
    </label>
    <p>
      Your selection is saved in your local storage of your browser.
      <a ng-click="saveSelection($event)" href="#save">Save selection to disk.</a>
    </p>
    <h4>Price</h4>

    <div class="nvd3-container">
      <nvd3-scatter-chart
              data="priceData"
              id="priceChart"
              height="250"
              interactive="false"
              tooltips="true"
              x="xFunction()"
              y="yFunction()"
              xAxisTickFormat="xAxisTickFormatFunction()"
              yAxisTickFormat="yAxisTickFormatFunction()">
      </nvd3-scatter-chart>
    </div>
    <label>
      Min: <input size="6" type="text" ng-model="priceMin" />
    </label>
    <label>
      Max: <input size="6" type="text" ng-model="priceMax" />
    </label>

    <h4>Rooms</h4>
    <div class="nvd3-container">
      <nvd3-stacked-area-chart
        data="roomData"
          id="roomChart"
          showXAxis="true"
          showYAxis="true"
          yAxisTickFormat="roomYAxisTickFormatFunction()"
          useInteractiveGuideline="true"
          tooltips="true"
          height="250"
          style="stream">
      </nvd3-stacked-area-chart>
    </div>
    <label>
      Min: <input size="6" type="text" ng-model="roomMin" />
    </label>

    <h4>Rental Type</h4>
    <label ng-repeat="item in filter.list" class="filter-checkbox">
      <input type="checkbox" ng-model="filter.check[item.name]">
      <span class="color" ng-style="{backgroundColor:typeScale(item.name)}"></span>
      {{ item.name }} ({{ item.count }})
    </label>
  </div>
</div>
