<div class="row">
  <div class="col-md-12">
    <h1>Flats in Zurich</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="map" map="tpreusse.hng3chlk" map-options="{{ mapState }}"></div>
    <pagination total-items="filteredObjects.length" page="currentPage" items-per-page="numPerPage"></pagination>
    <div class="row objects">
      <div ng-repeat="object in pagedFilteredObjects" class="object thumbnail">
        <img ng-src="{{ object.image }}" ng-if="object.image">
        <div class="caption">
          <p>
            <span ng-style="{color:typeScale(object.rental_type)}">{{ object.rental_type }}</span>
          </p>
          <h3>{{ object.street }}</h3>
          <p>
            {{ object.zip }} {{ object.city }}<br />
            <span ng-show="object.rooms">{{ object.rooms }} rooms<br /></span>
            <span ng-show="object.space">{{ object.space }} m²<br /></span>
            <span ng-switch="object.price">
              <span ng-switch-when="0"><strong>price on request</strong></span>
              <span ng-switch-default><strong>CHF {{ object.price }}.-</strong></span>
            </span>
          </p>
          <div class="clearfix">
            <a href="{{ object.href }}" class="btn btn-default pull-right" role="button" target="_blank">Details</a>
          </div>
        </div>
      </div>
    </div>
    <pagination total-items="filteredObjects.length" page="currentPage" items-per-page="numPerPage"></pagination>
  </div>
  <div class="col-md-3 sidebar">
    <h2 ng-show="filteredObjects !== undefined">{{ filteredObjects.length }} Objects<h2>
    <h3>Filters</h2>
    <h4>Rental Type</h4>
    <label ng-repeat="item in filter.list" class="filter-checkbox">
      <input type="checkbox" ng-model="filter.check[item.name]">
      <span class="color" ng-style="{backgroundColor:typeScale(item.name)}"></span>
      {{ item.name }} ({{ item.count }})
    </div>
  </div>
</div>
